*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;

    background: linear-gradient(45deg, rgb(10, 48, 151),rgb(93, 187, 190),rgb(182, 230, 245),#fff);
    background-size: 300% 300%;
    animation: colors 8s ease infinite;
}

@keyframes colors{
    0%{
        background-position:0% 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position:0% 50% ;
    }
}

header{
    margin-left: 10%;
    height: 80px;
    width: 80%;
    border-bottom: 5px inset rgba(128, 128, 128, 0.562);
    border-radius: 5px;
}
.logo{
    text-align: center;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 70px;
    text-shadow: 3px 5px 3px rgb(56, 160, 245);
    color: rgb(77, 75, 75);
}
main{
    height: 600px;
    display: flex;
    align-items: center;
}

/*Tela Principal com os botoes de jogar/ranking/regras*/
.tela-inicial{
    z-index: 1;
    margin-left:auto;
    margin-right: auto;
    width: 800px;
    height: 100%;
    display: none; 
}

.btn-jogar{
    background-color: white;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 50px;
    height: 100px;
    margin: 60px 40px;
    box-shadow: 3px 2px 8px rgb(105, 105, 105);
}
.btn-jogar:hover{
    box-shadow: 10px 5px 10px rgb(56, 160, 245);
    cursor: pointer;
}
.btn-texto{
    text-align: center;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 30px;
    color: rgb(77, 75, 75);

}

/*Tela Jogar escolher o tamanho e colocar o nome*/

.tela-jogar{
    z-index: 1;
    margin-left:auto;
    margin-right: auto;
    width: 800px;
    height: 100%;
    display: none;
}
.input-nome{
    height: 50px;
    margin-left: 270px;
    margin-top: 50px;
    border-radius: 40px;
    padding-left: 25px;
    border: 2px inset rgba(128, 128, 128, 0.562);
    box-shadow: 3px 2px 8px rgb(105, 105, 105);
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 24px;
}

.input-nome:hover{
    box-shadow: 3px 2px 8px rgb(56, 160, 245);
}

/*Tela de Ranking*/
.tela-ranking{
    background-color: white;
    z-index: 1;
    margin-left:auto;
    margin-right: auto;
    width: 800px;
    height: 550px;
    border-radius: 10px;

    display: none;
    
}
.logo-telas{
    height: 90px;
    width: 400px;
    margin-left: 30px;
    border-bottom: 5px inset rgba(128, 128, 128, 0.562);
    border-radius: 5px;
    text-shadow: 1px 2px 4px rgb(56, 160, 245);

}
.texto-logo-telas{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 10px;
    color: rgb(77, 75, 75);
}

.posicoes-ranking{
    height: 50px;
    margin: 20px 40px;
    border-bottom: 2px inset rgba(128, 128, 128, 0.562);
    border-radius: 5px;
}

.ranking-pos{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(77, 75, 75);
}

.btn-voltar{
    height: 45px;
    width: 90px;
    background-color: white;
    border-radius: 10px;
    border:2px inset rgba(128, 128, 128, 0.562);

    margin-left: 340px;
    margin-top: 10px;

    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 19px;
    box-shadow:3px 5px 3px rgb(138, 143, 148);
    color: rgb(66, 65, 65);
}
.btn-voltar:hover{
    margin-left: 337px;
    width: 95px;
    height: 50px;
    cursor: pointer;
    box-shadow: 3px 5px 3px rgb(56, 160, 245);
}

/*Tela de Regras*/

.tela-regras{
    background-color: white;
    z-index: 1;
    margin-left:auto;
    margin-right: auto;
    width: 800px;
    height: 550px;
    border-radius: 10px;
    overflow-y: scroll;
    display: none;
    
}
.titulo-regras{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(95, 93, 93);
    line-height: 70px;
}

.texto-regras{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    color: rgb(95, 93, 93);
    line-height: 25px;
}
/*scroll da div de regras*/
.tela-regras::-webkit-scrollbar {
    width: 10px;               /* largura do background do  scrollbar */
  }
  
  .tela-regras::-webkit-scrollbar-track {
    background: rgb(223, 221, 221);        /* cor da area do background do scrollbar */
  }
  
  .tela-regras::-webkit-scrollbar-thumb {
    background-color: rgb(250, 250, 250);    /* cor do backgound do item do scroll */
    border-radius: 20px;       
    border: 2px solid rgb(145, 144, 142);
  }

.tabuleiroJogador{
    background-color: rgb(219, 62, 62);
    width: 50vw;
    display: none;
}
.letras{
    background-color: darkgoldenrod;
    position: relative;
    top: 60px;
    left: 93px;
    font-size: 23px;
}
.numeros{
    background-color: darkorchid;
    position: absolute;
    top: 190px;
    left: 40px;
    font-size: 27px;
    width: 15px;
    line-height: 42px;
}
.numeros2{
    background-color: darkorchid;
    position: absolute;
    top: 190px;
    left: 785px;
    font-size: 27px;
    width: 15px;
    line-height: 42px;
}
table{
    background-color: dodgerblue;
    position: relative;
    border-collapse: collapse;
    border-spacing: 10;
    width: 600px;
    align-items: center;
    height: 430px;
    margin: 70px 30px 30px 70px;
}
tr, td {
    padding: 10px 20px;
    border: 4px solid #000;
}

td:hover{
    background-color: brown;
}


.tabuleiroMaquina{
    background-color: rgb(150, 150, 150);
    width: 50vw;
    display: none;
}


footer{
    height: 20px;
    width: 60%;
    margin-left: 20%;
    border-top: 5px inset rgba(128, 128, 128, 0.562);
    border-radius: 5px;
}
.rodape{
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}


.navio{
    animation: navio1load 46s infinite;
}
.navio2{
    margin-right: 20px;
    animation: navio2load 52s infinite;
}
.parte-ponta-cima {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid #949396;
  }
.parte-central{
    width: 50px;
    height: 80px;
    background-color: #949396;
}
.parte-ponta-baixo {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid #949396;
  }

  @keyframes navio1load{
      0%{
        transform:translate(0px) rotate(-15deg);
      }
      32%{
        transform:translate(1250px, 270px) rotate(-45deg);
      }
      50%{
          transform: translate(500px, -500px) scale(1.2) rotate(45deg);
      }
      75%{
        transform:translate(-800px, -600);
      }
      100%{
        transform:translate(0px) scale(1.0) ;
      }
      
  }
  @keyframes navio2load{
    0%{
      transform:translate(0px) rotate(15deg);
    }
    25%{
      transform:translate(-1250px, 200px) rotate(90deg);
    }
    50%{
        transform: translate(-100px, -600px) scale(1.2) rotate(-45deg);
    }
    75%{
      transform:translate(-800px, -600) rotate(180deg);
    }
    100%{
      transform:translate(0px) scale(1.0) ;
    }
    
}